textarea {
    height: 150px !important;
}

.left-table {
    text-align: right;
    width: 30%;
    float: left;
    padding-right: 2%;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

.right-table {
    text-align: left;
    width: 68%;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
}

.review-btn .ui-btn {
    cursor: pointer;
    display: inline-block;
    height: 10px !important;
    margin: 5px !important;
    padding: 10px;
    text-align: center;
    width: 110px;
}

.review-btn .ui-btn-inner {
    border: 0;
}

.info-img-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

label.error {
    color: red;
    padding-top: .5em;
    font-weight: bold;
    width: 400px !important;
    display: block;
}

.fa-star {
    color: orange;
}

/* Rating Star Widgets Style */

.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul>li.star {
    display: inline-block;
}

/* Idle State of the stars */

.rating-stars ul>li.star>i.fa {
    font-size: 2.5em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}

/* Hover state of the stars */

.rating-stars ul>li.star.hover>i.fa {
    color: #67e772;
}

/* Selected state of the stars */

.rating-stars ul>li.star.selected>i.fa {
    color: #0ed41f;
}

.ui-icon-note:after {
    background-image: url("../img/noteIcon.png");
    background-color: transparent;
    box-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-icon-loading {
    background: url(http://code.jquery.com/mobile/1.1.0-rc.1/images/ajax-loader.png);
    background-size: 46px 46px;
    width: 46px;
    height: 46px;
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}